/*.header, */
/*.intro, */
/*.product, 
.make, 
.footer{*/
	display: none;
}


@media (max-width: 700px) {
	.info_text-2{
		font-size: 40px;
	    line-height: 60px;
	}
}

@media (max-width: 480px) {
	.info_text-2{
		font-size: 16px;
	}
}



@media (max-width: 350px) {
	.info_text-2{
		font-size: 14px;
	}
}